CREATE TABLE IF NOT EXISTS kit_status (user_id INT PRIMARY KEY, node_grid TINYINT(1) DEFAULT 0, node_substation TINYINT(1) DEFAULT 0, node_home TINYINT(1) DEFAULT 0, node_obc TINYINT(1) DEFAULT 0, node_battery TINYINT(1) DEFAULT 0, node_solar TINYINT(1) DEFAULT 0, node_dcdc TINYINT(1) DEFAULT 0, node_bess TINYINT(1) DEFAULT 0, node_station TINYINT(1) DEFAULT 0, node_charger TINYINT(1) DEFAULT 0, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE);
